$textHover: hsl(14, 88%, 65%);
$questionColor: hsl(238, 29%, 16%);
$nonSelectedQuestion: hsl(237, 12%, 33%);
$borderBottom: hsl(240, 5%, 91%);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: rgb(175, 103, 233);
	background: linear-gradient(
		180deg,
		rgba(175, 103, 233, 1) 0%,
		rgba(101, 101, 231, 1) 100%
	);
	background-repeat: no-repeat;
	background-size: cover;
	color: hsl(238, 29%, 16%);
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 12px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media (max-width: 1055px) {
		height: 110%;
		padding: 0 20px;
		margin-bottom: 50px;
	}
}

.container {
	background: white;
	display: flex;
	flex-flow: row nowrap;
	max-width: 950px;
	justify-content: center;
	border-radius: 25px;
	width: 100%;
	height: 450px;
	box-shadow: 0px 52px 64px -20px rgba(95, 65, 183, 1);
	-webkit-box-shadow: 0px 52px 64px -20px rgba(95, 65, 183, 1);
	-moz-box-shadow: 0px 52px 64px -20px rgba(95, 65, 183, 1);

	@media (max-width: 1055px) {
		height: 100%;
		margin: 55% auto 25% auto;
		overflow: clip;
		flex-direction: column;
		justify-content: end;
		align-items: center;
		max-width: 550px;
		padding: 0 6% 50px 6%;
	}

	@media (min-width: 600px) and (max-width: 1055px) {
		margin: 250px auto 25% auto;
	}

	@media (max-width: 599px) {
		margin: 55% auto 30% auto;
	}
}

.leftSide {
	position: relative;
	height: 100%;
	width: 100%;
	margin-right: 100px;

	@media (max-width: 1055px) {
		display: none;
	}

	& .outSider {
		position: relative;
		width: 100%;
		height: 100%;

		& img {
			position: absolute;
			left: -92px;
			bottom: 83px;
			z-index: 3;
		}
	}

	& .insider {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
		bottom: 0;

		.topImage,
		.backgroundImage {
			overflow: hidden;
			position: absolute;
			right: 0px;
			bottom: 10%;
			z-index: 2;
		}

		.backgroundImage {
			width: 220%;
			bottom: -150px;
			z-index: 1;
		}
	}
}

.mobile {
	display: none;

	@media (max-width: 1055px) {
		width: 100%;
		display: flex;
		flex-direction: column;
		display: block;
		padding: 0 5% 35px 5%;

		&__background {
			width: 100%;
			height: 100%;
			object-fit: fill;
		}
	}
}

.topBlockImage {
	display: none;

	@media (max-width: 1055px) {
		display: inline;
		position: absolute;
		width: 77%;
		margin-top: 14.5%;
		top: 14px;
		right: 15%;
	}

	@media (min-width: 600px) and (max-width: 1055px) {
		top: 50%;
		left: 50%;
		width: 240px;
		height: 172px;
		margin-top: -188px;
		margin-left: -146px;
		transform: scale(1.85);
	}
}

.accordion {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 10px;
}

.rightSide {
	width: 100%;
	position: static;
	padding: 60px 10% 0 0;

	@media (max-width: 1055px) {
		position: static;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		padding: 0;
		margin: 0;
	}

	h1 {
		display: inline-block;
		text-transform: uppercase;
		margin-bottom: 20px;
		font-size: 2rem;
		@media (max-width: 1055px) {
			margin: 0px 0 25px 0;
			display: block;
			text-align: center;
		}
	}
}

.question-group {
	overflow: hidden;
	max-width: 350px;
	padding-right: 10px;
	border-bottom: 0.5px solid $borderBottom;
	display: grid;
	grid-template-areas:
		'question image'
		'answer answer';
	grid-template-columns: auto 1%;
	align-items: center;
	background-color: white;
	margin-right: 10px;

	@media (max-width: 1055px) {
		margin: 0 auto;
	}

	label.question {
		z-index: 1;
		cursor: pointer;
		grid-area: question;
		display: block;

		&:hover {
			.title {
				color: $textHover;
			}
		}

		img {
			grid-area: image;
		}

		.content {
			grid-area: answer;
			overflow: hidden;
		}
	}
}

label {
	//height: 100px;
	//text-align: left;
	min-width: 10px;
	margin: 5px auto auto 0;
	color: $questionColor;
	padding: 15px 0;
	font-weight: 400;
	font-size: 15px;

	@media (max-width: 1055px) {
		margin: auto auto auto 0;
		font-size: 14px;
	}
}
input[type='radio'].questions {
	display: none;
}

input[type='radio'].questions:checked {
	~ .content {
		height: 100%;
		animation-delay: 1s;
		animation: spandisplay 0.5s ease both;
		margin: 10px 0 10px 0;
		flex: 1fr;
		transition: transform 1s ease;

		@media (max-width: 1055px) {
			margin: 10px 25px 10px 0;
		}
	}
	~ label > span.title {
		color: $questionColor;
		font-weight: 700;
	}
	~ img {
		transform: rotate(180deg);
	}
}

.content {
	transform: translateY(-100px);
	opacity: 0;
	height: 0;
}

@keyframes spandisplay {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	60% {
		transform: translateY(-30px);
	}
	80% {
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
